PORT=5000
DB_HOST=p137x74qaxi1h9xwozas16bi
DB_USER=mysql
DB_PASSWORD=4ASHMFTIXOyfsuiJU5vGqKTX2jFXzhFD7ltxnn5H5w5rdO5Gsbk7od8UYKVh7MVn
DB_NAME=default
DB_PORT=3306

# Secret key untuk Auth (jika pakai JWT)
JWT_SECRET=super_secret_garda_data_key_2026
